#!/bin/bash

#before:
bash -c 'dpkg --get-selections > /tmp/packages'

{% if borg_pass is defined %} export BORG_PASSPHRASE='{{ borg_pass }}' {% endif %}

CLIENT="{{ group_names[0] }}"
TYPEOFBACKUP=system
# Setting this, so you won't be asked for your repository passphrase:

#begin of backup
REPOSITORY=$CLIENT@{{ borg_ip }}:$(hostname)

borg create -v --stats                             \
    $REPOSITORY::"$TYPEOFBACKUP-{now:%Y-%m-%d}"    \
    {{ system_backup|join(' ') }}

# Use the `prune` subcommand to maintain 7 daily, 4 weekly and 6 monthly
# archives of THIS machine. The '{hostname}-' prefix is very important to
# limit prune's operation to this machine's archives and not apply to
# other machine's archives also.
borg prune -v --list $REPOSITORY --prefix "$TYPEOFBACKUP-" \
    --keep-daily=14 --keep-weekly=8 --keep-monthly=12